//==================================================
//盒子模型
//==================================================
//margin and padding
//==================================================

.margin-0-auto {
  margin: 0 auto;
}

.margin-0 {
  margin: 0;
}

.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-15 {
  margin: 15px;
}

.margin-20 {
  margin: 20px;
}

// margin-right
.margin-r-0 {
  margin-right: 0;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-15 {
  margin-right: 15px;
}

.margin-r-20 {
  margin-right: 20px;
}

.margin-r-50 {
  margin-right: 50px;
}

// margin-left

.margin-l-auto {
  margin-left: auto;
}

.margin-l-0 {
  margin-left: 0;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-15 {
  margin-left: 15px;
}

.margin-l-20 {
  margin-left: 20px;
}

.margin-l-50 {
  margin-left: 50px;
}

.margin-l-80 {
  margin-left: 80px;
}

// margin-top

.margin-t-auto {
  margin-top: auto;
}

.margin-t-0 {
  margin-top: 0;
}

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-15 {
  margin-top: 15px;
}

.margin-t-20 {
  margin-top: 20px;
}

// margin-bottom
.margin-b-0 {
  margin-bottom: 0;
}

.margin-b-5 {
  margin-bottom: 5px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.margin-b-15 {
  margin-bottom: 15px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

//==================================================
//padding
//==================================================
.padding-0 {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}

// padding-right
.padding-r-0 {
  padding-right: 0;
}

.padding-r-5 {
  padding-right: 5px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-r-15 {
  padding-right: 15px;
}

.padding-r-20 {
  padding-right: 20px;
}

// padding-left
.padding-l-0 {
  padding-left: 0;
}

.padding-l-5 {
  padding-left: 5px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-l-15 {
  padding-left: 15px;
}

.padding-l-20 {
  padding-left: 20px;
}

.padding-l-40 {
  padding-left: 40px;
}

.padding-l-50 {
  padding-left: 50px;
}

.padding-l-80 {
  padding-left: 80px;
}

.padding-l-130 {
  padding-left: 130px;
}
.padding-l-170 {
  padding-left: 170px;
}

// padding-top
.padding-t-0 {
  padding-top: 0;
}

.padding-t-5 {
  padding-top: 5px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-t-15 {
  padding-top: 15px;
}

.padding-t-20 {
  padding-top: 20px;
}

.padding-t-30 {
  padding-top: 30px;
}

// padding-bottom
.padding-b-0 {
  padding-bottom: 0;
}

.padding-b-5 {
  padding-bottom: 5px;
}

.padding-b-10 {
  padding-bottom: 10px;
}

.padding-b-15 {
  padding-bottom: 15px;
}

.padding-b-20 {
  padding-bottom: 20px;
}

.padding-b-30 {
  padding-bottom: 30px;
}
