//========================================
//按鈕型文字設定
//========================================

//========================================
//刪除
//========================================
.delete {
  color: $red-500;

  &:hover {
    text-decoration: underline;
  }
}

//========================================
//編輯
//========================================
.edit {
  color: $teal-700;

  &:hover {
    text-decoration: underline;
  }
}
