.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-22 {
  font-size: 22px;
}

.fz-26 {
  font-size: 26px;
}

.fz-30 {
  font-size: 30px;
}

.fz-35 {
  font-size: 35px;
}

.fz-40 {
  font-size: 40px;
}

.fz-bold {
  font-weight: bold;
}

.fz-bold-400 {
  font-weight: 400;
}

.fz-bold-500 {
  font-weight: 500;
}

.fz-bold-800 {
  font-weight: 800;
}

//==================================================
//文字間距
//==================================================

.letter-spacing-5 {
  letter-spacing: 5px;
}

.letter-spacing-30 {
  letter-spacing: 30px;
}
