//==================================================
//單色
//==================================================
$gray-100: #ffffff;
$gray-200: #f7f7f7; // 背景主要用色
$gray-300: #ededed;
$gray-400: #e1e1e1; // 線條主要用色
$gray-500: #bdbdbd;
$gray-600: #999999; // 次要資訊用色
$gray-700: #5d5d5d;
$gray-800: #323232;
$gray-900: #000000;

$pink-100: #ffe5f0;
$pink-100-shadow: #ff92c1;
$pink-200: #ffcce2;
$pink-500: #ff0873;
$pink-600: #e00061;

$red-400: #fa5139;
$red-600: #cc1e05;
$red-800: #991604;

$orange-pumpkin: #ff7500;

$orange-300: #ffa497;
$orange-500: #fe5a0a;
$orange-500-shadow: #fd5a0a;
$orange-600: #d44211;
$orange-700: #cc2d05;
$orange-800: #fe2a00;

$blue-500: #007ae6;
$teal-500: #0da594;

//==================================================
//帶透明度的顏色
//==================================================
$gray-transparent: rgba(0, 0, 0, 0.4);
$gray-shadow: rgba(50, 50, 50, 0.2);
$orange-shadow: rgba(254, 90, 10, 0.5);

//==================================================
//字型
//==================================================
$price: Arial;
