@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_utilities/_table.scss";

//========================================
//無資料可渲染時的提示文字
//========================================
.text-info {
  background-color: $pink-100;
}

.table-list__wrap {
  //========================================
  //表格設定
  //========================================
  @include tableBorderRadius(50px);

  //編刪按鈕設定
  .delete {
    width: 60px;
  }

  .edit {
    width: 60px;
  }

  table {
    width: 100%;
    td {
      font-size: 20px;
      padding: 10px;
      vertical-align: middle;
    }
    thead {
      tr {
        .name {
          width: 100px;
        }
        td {
          padding: 5px;
          font-size: 22px;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .table-list__wrap {
    thead {
      tr {
        td {
          font-size: 24px;
        }

        .name {
          min-width: 10px;
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: 24px;
        }
      }
    }
  }
}
