@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_utilities/_overflow.scss";
@import "../../scss/_utilities/_table.scss";
@import "../../scss/_utilities/_textClick.scss";

//========================================
//無資料可渲染時的提示文字
//========================================
.text-info {
  background-color: $pink-100;
}

.table-list__wrap {
  //========================================
  //條件尋找設定
  //========================================
  .search-content {
    min-width: 580px;

    select {
      width: 130px;
    }
    input {
      width: 180px;
    }

    input[type="submit"] {
      width: 80px;
    }
  }

  //========================================
  //表格設定
  //========================================
  .main {
    //編刪按鈕設定
    .delete {
      width: 60px;
    }

    .edit {
      width: 60px;
    }

    @include tableFlex;

    table {
      td {
        padding: 5px;
      }
      min-width: 380px;
      thead {
        tr {
          td {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .table-list__wrap {
    .search-content {
      select {
        width: 150px;
      }

      input {
        width: 300px;
      }
    }
    .main {
      overflow-x: scroll;
      @include tableBorderRadius(50px);
      @include tableOriginalSetting;

      table {
        thead {
          tr {
            font-size: 26px;
            td {
              padding: 30px;
            }
          }
        }
        tbody {
          tr {
            font-size: 24px;
            td {
              padding: 30px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 960px) {
  .table-list__wrap {
    max-width: 1300px;
    margin: 0 auto;

    .main {
      overflow-x: unset;
    }
  }
}
