@import "../../scss/_utilities/_typography.scss";
@import "../../scss/_utilities/_displayFlex.scss";
@import "../../scss/_utilities/_float.scss";

@import "../../scss/_utilities/_spacing.scss";
@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_components/_buttons.scss";
@import "../../scss/_components/_inputStyle.scss";

//========================================
//表單設定
//========================================
//表單全域設定
//========================================
.reservation-form__wrap {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 760px;
  margin-bottom: 30px;

  h1 {
    font-size: 35px;
  }

  .btn-submit {
    width: 100%;
  }

  .btn-cancel {
    width: 280px;
  }
}

//========================================
//表單 input 驗證不通過的提示
//========================================

.invalidity {
  border: 2px solid $red-600;
}
.invalidity-text {
  display: block;
}

.required-icon {
  font-size: 22px;
  line-height: 22px;
  padding-right: 10px;
  display: inline-block;
  color: $red-600;
}

.required-mark_content {
  span {
    color: $red-600;
  }
}

//========================================
//表單內部排版
//========================================
.input-list {
  display: flex;
  justify-content: space-between;

  .input-list__right {
    width: 100%;
    margin-right: 30px;
  }

  .input-list__left {
    width: 100%;
  }

  div {
    padding-top: 20px;
    justify-content: space-between;
    z-index: 0;

    label {
      display: block;
      width: 30%;
      min-width: 150px;
      line-height: 40px;
    }

    input {
      width: 100%;
    }

    .invalidity-text ~ p {
      font-size: 16px;
      color: $red-600;
    }
  }
}

//========================================
//編輯頁 編輯功能表單設定
//========================================
//編輯頁面時 edit-modal-style 加在 reservation-form__wrap 同層
.edit-modal-style {
  min-width: 500px;
}

@media (min-width: 960px) {
  .reservation-form__wrap {
    min-width: 960px;
  }
  .edit-modal-style {
    min-width: 700px;
  }
}
