@import "../../scss/_utilities/_typography.scss";
@import "../../scss/_utilities/_displayFlex.scss";
@import "../../scss/_utilities/_float.scss";

@import "../../scss/_utilities/_spacing.scss";
@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_components/_buttons.scss";
@import "../../scss/_components/_inputStyle.scss";

//========================================
//表單設定
//========================================
//表單全域設定
//========================================

input {
  width: 70%;
}

select {
  width: 70%;
}

//========================================
//表單 input 驗證不通過的提示
//========================================

.invalidity {
  border: 2px solid $red-600;
}
.invalidity-text {
  display: block;
}

.required-icon {
  font-size: 22px;
  line-height: 22px;
  padding-right: 10px;
  display: inline-block;
  color: $red-600;
}

.required-mark_content {
  span {
    color: $red-600;
  }
}
//========================================
//表單內部排版
//========================================
.reservation-form__wrap {
  margin-bottom: 30px;
}

.input-list {
  div {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 0;

    label {
      width: 30%;
      min-width: 150px;
      line-height: 40px;
      text-align: center;
    }

    .invalidity-text {
      font-size: 16px;
      color: $red-600;
      position: absolute;
      z-index: 1;
    }
  }

  .gender-content {
    padding-top: unset;
    margin-top: 50px;
    width: 350px;
    padding-left: 170px;
  }

  .birthday-content {
    position: relative;
    z-index: 0;
    padding-bottom: 25px;
    p {
      position: absolute;
      z-index: 1;
      top: 60px;
      right: 0px;
    }
  }

  .remark-content {
    position: relative;
    z-index: 0;
    padding-bottom: 25px;
    p {
      position: absolute;
      z-index: 1;
      top: 60px;
      right: 0px;
    }
  }

  .btn-submit {
    text-align: center;
    //想要設定提交按鈕寬度滿版不成功
    // width: 100%;
  }
}

@media (min-width: 768px) {
  //========================================
  //表單全域設定
  //========================================
  .reservation-form__wrap {
    h1 {
      font-size: 35px;
    }
    margin: 0 auto;
    margin-bottom: 30px;
  }

  input {
    width: 200px;
  }

  label {
    padding-left: 10px;
    padding-right: 10px;
  }
  //========================================
  //表單內部 grid 排版
  //========================================

  .input-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas:
      "name phone"
      "birthday id "
      "vaccine vaccine"
      "date date"
      "remark remark";

    div {
      padding-top: 50px;
      display: inline-block;
    }

    .name-content {
      grid-area: name;
    }

    .gender-content {
      grid-area: gender;
      width: 150px;
      text-align: center;
      padding-left: 0;
      input {
        width: auto;
        margin-left: 20px;
      }
    }

    .identityNumber-content {
      grid-area: id;
    }

    .birthday-content {
      grid-area: birthday;
      p {
        position: static;
      }
    }

    .dayForVaccination-content {
      grid-area: date;
    }

    .phone-content {
      grid-area: phone;
    }

    .vaccine-content {
      grid-area: vaccine;
      select {
        width: 200px;
      }
    }

    .remark-content {
      grid-area: remark;
      input {
        width: 450px;
      }
      p {
        position: static;
      }
    }
  }
}

@media (min-width: 960px) {
  //========================================
  //表單設定
  //========================================
  //表單全域設定
  //========================================
  input {
    width: 280px;
  }

  label {
    padding-left: 10px;
    padding-right: 10px;
  }

  //========================================
  //表單內部 grid 排版
  //========================================

  .input-list {
    div {
      padding-top: 50px;
    }

    .gender-content {
      width: 200px;
    }

    .vaccine-content {
      select {
        width: 280px;
      }
    }

    .remark-content {
      input {
        width: 550px;
      }
    }
  }
}
