@import "../../scss/_utilities/_typography.scss";
@import "../../scss/_utilities/_displayFlex.scss";
@import "../../scss/_utilities/_float.scss";

@import "../../scss/_utilities/_spacing.scss";
@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_components/_buttons.scss";
@import "../../scss/_components/_inputStyle.scss";

//========================================
//表單設定
//========================================
//表單全域設定
//========================================

input {
  width: 70%;
}

select {
  width: 70%;
}

//========================================
//表單 input 驗證不通過的提示
//========================================

.invalidity {
  border: 2px solid $red-600;
}
.invalidity-text {
  display: block;
}

.required-icon {
  font-size: 22px;
  line-height: 22px;
  padding-right: 10px;
  display: inline-block;
  color: $red-600;
}

.required-mark_content {
  span {
    color: $red-600;
  }
}
//========================================
//表單內部排版
//========================================
.reservation-form__wrap {
  margin-bottom: 30px;
}

.input-list {
  min-width: 768px;
  padding-left: 10px;

  div {
    padding-top: 20px;
    justify-content: space-between;
    z-index: 0;

    label {
      width: 30%;
      min-width: 150px;
      line-height: 40px;
      text-align: center;
    }

    .invalidity-text {
      font-size: 16px;
      color: $red-600;
    }
  }
}

.btn-cancel {
  width: 320px;
}

//========================================
//表單全域設定
//========================================
.reservation-form__wrap {
  min-width: 760px;
  h1 {
    font-size: 35px;
  }
  margin: 0 auto;
  margin-bottom: 30px;
}

input {
  width: 200px;
}

.btn-cancel {
  width: 280px;
}
//========================================
//表單內部 grid 排版
//========================================

.input-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-template-areas:
    "name phone"
    "birthday id "
    "vaccine vaccine"
    "date date"
    "remark remark";

  div {
    padding-top: 50px;
    display: inline-block;
    p {
      padding-left: 140px;
    }
  }

  .name-content {
    grid-area: name;
  }

  .identityNumber-content {
    grid-area: id;
  }

  .birthday-content {
    grid-area: birthday;
  }

  .dayForVaccination-content {
    grid-area: date;
  }

  .phone-content {
    grid-area: phone;
  }

  .vaccine-content {
    grid-area: vaccine;
    select {
      width: 200px;
    }
  }

  .remark-content {
    grid-area: remark;
    input {
      width: 450px;
    }
  }
}

//========================================
//編輯頁 編輯功能表單設定
//========================================

.form {
  .edit-modal-style {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas:
      "name phone"
      "birthday id "
      "vaccine vaccine"
      "date date"
      "remark remark";

    div {
      width: 350px;
      padding-top: 20px;

      label {
        min-width: 100px;
      }
      input {
        width: 150px;
      }

      .invalidity-text {
        font-size: 16px;
        color: $red-600;
      }
    }
  }
  .submit-btn-content {
    width: 700px;
  }
}

@media (min-width: 960px) {
  //========================================
  //表單設定
  //========================================
  //表單全域設定
  //========================================
  input {
    width: 280px;
  }

  label {
    padding-left: 10px;
    padding-right: 10px;
  }

  //========================================
  //表單內部 grid 排版
  //========================================

  .input-list {
    div {
      padding-top: 50px;
    }

    .vaccine-content {
      select {
        width: 280px;
      }
    }

    .remark-content {
      input {
        width: 550px;
      }
    }
  }
}
