@import "../../scss/_utilities/_typography.scss";
@import "../../scss/_utilities/_displayFlex.scss";
@import "../../scss/_utilities/_spacing.scss";

.reserved-list__wrap {
  .info {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .info {
    h1 {
      font-size: 35px;
    }
    li {
      font-size: 24px;
    }
  }
}
@media (min-width: 960px) {
  .info {
    max-width: 1300px;
    margin: 0 auto;
  }
}
