.input-style {
  font-size: 20px;
  height: 40px;
  border: 1px solid $gray-600;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 6px $gray-shadow;
  }
}
