@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_components/_buttons.scss";
@import "../../scss/_utilities/_typography.scss";
@import "../../scss/_utilities/_border.scss";
@import "../../scss/_utilities/_displayGeneral.scss";
@import "../../scss/_utilities/_float.scss";
@import "../../scss/_utilities/_spacing.scss";
@import "../../scss/_utilities/_text.scss";

.header__wrap {
  h1 {
    text-align: center;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: $gray-300;
}

@media (min-width: 768px) {
  .header__wrap {
    h1 {
      font-size: 40px;
      letter-spacing: 30px;
    }
  }
  .navbar {
    display: flex;
    justify-content: center;
    button {
      margin: 20px;
      font-size: 25px;
    }
  }
}
