@import "../../scss/_helpers/_constant.scss";

.header__wrap {
  h1 {
    text-align: center;
  }
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: $gray-300;
  > ul {
    button {
      margin: 20px;
      font-size: 25px;
    }
  }
}
