@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_components/_buttons.scss";
@import "../../scss/_utilities/_typography.scss";
@import "../../scss/_utilities/_common.scss";
@import "../../scss/_utilities/_border.scss";
@import "../../scss/_utilities/_displayGeneral.scss";
@import "../../scss/_utilities/_float.scss";
@import "../../scss/_utilities/_spacing.scss";
@import "../../scss/_utilities/_text.scss";

.navbar {
  display: flex;
  justify-content: center;
  background-color: $gray-300;
}
