@import "../../scss/_helpers/_constant.scss";
@import "../../scss/_utilities/_typography.scss";
@import "../../scss/_utilities/_displayFlex.scss";
@import "../../scss/_utilities/_spacing.scss";
@import "../../scss/_components/_buttons.scss";

.edit-reservation__wrap {
  .info {
    width: 90%;
  }

  .modal {
    background-color: $gray-200;
    border: 10px solid $pink-200;
    position: absolute;
    z-index: 1;
    top: 15%;
    right: 10%;
    left: 10%;
    bottom: 5%;
  }
}
@media (min-width: 768px) {
  .info {
    h1 {
      font-size: 35px;
    }
  }
}
@media (min-width: 960px) {
  .info {
    max-width: 1300px;
    margin: 0 auto;
  }
  .modal {
    max-width: 1000px;
  }
}
