@import "../../../scss/_helpers/_constant.scss";

.edit-reservation__wrap {
  //.modal 樣式要搭配 VaccineReservationForm 中的 .edit-modal-style 樣式
  .modal {
    width: 600px;
    height: 700px;
    background-color: $gray-200;
    border: 10px solid $pink-200;
    position: absolute;
    z-index: 1;
    top: 15%;
    right: 10%;
    left: 10%;
    bottom: 5%;
  }
}

@media (min-width: 960px) {
  .edit-reservation__wrap {
    .info {
      margin: 0 auto;
    }
    .modal {
      width: 750px;
    }
  }
}
