//========================================
//條件尋找設定
//========================================
.search-content {
  select {
    width: 130px;
  }

  button {
    width: 80px;
  }

  input[type="submit"] {
    width: 80px;
  }
}
