@import "../../scss/_helpers/_constant.scss";

//========================================
//條件尋找設定
//========================================
.search-content {
  min-width: 768px;
  select {
    width: 130px;
  }
  input {
    width: 180px;
  }

  input[type="submit"] {
    width: 80px;
  }

  .btn-submit {
    width: 80px;
  }
}
